@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$font: "Open Sans";
$border-black: 1px solid
  rgba(
    $color: black,
    $alpha: 0.1,
  );

$bg-light-black: rgba(6, 0, 15, 0.3);

$bg-dark-black: rgba(6, 0, 0, 0.5);

$bg-list-items: rgba(6, 0, 15);
